#contactPage{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactPageTitle{
    font-size: 3rem;
    margin-bottom: 1rem;
}
/* .clientDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 60rem;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.clientImgs{
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;

}

.clientImg{
    object-fit: cover;
    width: 23%;
    min-width: 13rem;
    margin: auto;
    padding: 0.25rem;
}

#clients{
    padding: 2rem;
} */


.contactDesc{
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
}

.contactForm{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .msg ,.email{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem ;
    color: white;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(40, 40, 40);
}

.submitBtn{
    background: white;
    color: rgb(78, 78, 197);
    font-size: medium;
    border: none;
    padding: 0.75rem 3.5rem;
    border-radius: 0.5rem;
    margin: 2rem;
}

.submitBtn:hover{
    cursor: pointer;
    border-radius: 1rem;
}

.links{
    display: flex;
    flex-wrap: wrap;

}

.link{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin: 0 .75rem;
    border-radius: 3rem;
}