#works{
    min-height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    padding: 0 1rem;
}

.worksTitle{
    margin: 1rem 0;
    font-size: 3rem;

}

.worksDesc{
    font-weight: 300;
    font-size: 1rem;
    max-width: 60rem;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.worksImgs{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 65rem;
}

.worksImg{
    object-fit: cover;
    height: 20rem;
    margin: 0.5rem;
    border-radius: 0.5rem;

}

.workBtn{
    padding: 0.5rem 2.5rem;
    background: white;
    border: none;
    border-radius: 1rem;
    margin: 2rem 0;
}

@media screen and (max-width:585px) {
    .workImg{
        height: 48vw;
    }
    
}